/*
 *  Flex Layout Specifics
*/
main {
    display: flex;
    flex-direction: row;
}

/*
 *  General Styles
*/
body {
    font-family: sans-serif;
    font-size: small;
    padding: 10px;
    line-height: 1.4em;
}

div.jQBracket .team input.score {
    float: right;
    padding: 3px;
    background-color: rgba(255,255,255,.3);
    text-align: center;
    box-sizing: border-box;
}
